## What are loops?
- A loop is a control structure that is used to perform a set of instructions for a specific number of times.

##### Loops are a programming element that repeat a portion of code a set number of times until the desired process is complete. Repetitive tasks are common in programming, and loops are essential to save time and minimize errors.

In [1]:
print("Helicopter shoot")
print("Helicopter shoot")
print("Helicopter shoot")
print("Helicopter shoot")
print("Helicopter shoot")

Helicopter shoot
Helicopter shoot
Helicopter shoot
Helicopter shoot
Helicopter shoot

## While loop
- The while loop keeps iterating over a certain set of operations as long as a certain condition holds True.

In [2]:
## Shopping list example

![image](../photos/whileloop.jpeg)

In [3]:
# 1. Initialisation
start = 0

# 2. Define while loop condition

while start < 5:
    print("Helicopter Shot")
    # update
    start += 1

Helicopter Shot
Helicopter Shot
Helicopter Shot
Helicopter Shot
Helicopter Shot

## Print numbers from 1 to 10

In [5]:
# Initialisation
start = 1

# While loop condition:

while start <= 10:
    print(start)
    # update
    start += 1

1
2
3
4
5
6
7
8
9
10

## Print numbers from 10 to 1

In [6]:
# Initialisation:
start = 10

# Loop condition:

while start >= 1:
    print(start)
    start -= 1

10
9
8
7
6
5
4
3
2
1

## Print all even numbers between 2 to 10

In [7]:
# check for a number if it is even

In [8]:
start = 2

while start <= 10:
    # Check if it is even or odd
    if start % 2 == 0:
        print(start)
    start += 1

2
4
6
8
10

In [9]:
start = 2

while start <= 10:
    print(start)
    start += 2

2
4
6
8
10

## Print all Odd number from 1 to 10

In [10]:
# odd

In [11]:
# Using if condition

# and using jump of 2

### Print all numbers from 1 to 10 in a single line

In [12]:
# Go for print statement

In [13]:
# print?

In [14]:
start = 1

while start <= 10:
    print(start)
    start += 1

1
2
3
4
5
6
7
8
9
10

In [15]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [16]:
print(2, 3, 4, 5, 6, 7)

2 3 4 5 6 7

In [17]:
print(2,3,4,5,6,7)

2 3 4 5 6 7

In [19]:
print("Rahul","Janghu",1,"Instructor")

Rahul Janghu 1 Instructor

In [20]:
print(1)
print(2)
print(3)

1
2
3

In [21]:
print("Rahul","Janghu",1,"Instructor", sep="\n")

Rahul
Janghu
1
Instructor

In [22]:
print("Rahul","Janghu",1,"Instructor", sep="\t")

Rahul	Janghu	1	Instructor

In [24]:
print("Rahul","Janghu",1,"Instructor", sep="   add anything.   ", end=" ")

Rahul   add anything.   Janghu   add anything.   1   add anything.   Instructor

In [25]:
print(1, end=" ")
print(2, end=" ")
print(3)

1 2 3

In [27]:
start = 1

while start <= 10:
    print(start, end=" ")
    start += 1

1 2 3 4 5 6 7 8 9 10

####  Take T number of inputs and print their tables

In [28]:
# Take n as input and print the table of n

In [34]:
n = int(input())

start = n

while start <= n*10:
    print(start)
    start += n

 4

4
8
12
16
20
24
28
32
36
40

In [35]:
# Take T number of inputs

In [37]:
T = int(input())
start = 0

while start < T:
    n = int(input())
    start += 1

 3
 4
 68
 98

In [43]:
# Taking T number of inputs

T = int(input())
count = 0

while count < T:
    n = int(input())
    count += 1
    
    # Print table for this number n:
    start = n

    while start <= n*10:
        print(start)
        start += n

 3
 4

4
8
12
16
20
24
28
32
36
40

 5

5
10
15
20
25
30
35
40
45
50

 6

6
12
18
24
30
36
42
48
54
60

### For loops

In [44]:
# range

In [46]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
list(range(2, 11))

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
list(range(2, 10, 3))

[2, 5, 8]

In [50]:
list(range(2, 2))

[]

In [51]:
list(range(20, 10))

[]

In [53]:
list(range(2, 0))

[]

In [54]:
list(range(8, 4, -1))

[8, 7, 6, 5]

In [55]:
# Print numbers between 1 to 10

In [56]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [57]:
# Get sum of first 10 Natural numbers

In [58]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [61]:
total = 0.

for i in range(1, 11):
    total += i
    
print(total)

55

In [62]:
# Take a number N as input and print values from N to 1

In [64]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [65]:
N = int(input())

for i in range(N, 1, -1):
    print(i)

 10

10
9
8
7
6
5
4
3
2

In [66]:
N = int(input())

for i in range(N, 0, -1):
    print(i)

 10

10
9
8
7
6
5
4
3
2
1

In [67]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [ ]:
list(range(11))

In [1]:
# HW: Print even and odd numbers between 1-10 using for loop